body{
    background-color: #222222;
    font-family: 'Montserrat';
    font-size: 14px;
    
}

.titulo-app{
    padding: 30px;
    color: #ffffff;
}

#saida{
    display: none;
    color: #222222;
}